<h3>Create a product to try sticky writer</h3>

<form action="/products" method="POST">
  <label>Title</label>
  <input name="product[title]" required/>

  <br/>

  <label>Price</label>
  <input name="product[price]" required/>

  <br/>

  <input name="submit" type="submit" value="Create Product" />
</form>
