<h3>Create a kitten to try sticky writer</h3>

<form action="/kittens" method="POST">
  <label>Title</label>
  <input name="kitten[title]" required/>

  <br/>

  <label>Price</label>
  <input name="kitten[price]" required/>

  <br/>

  <input name="submit" type="submit" value="Create Kitten" />
</form>
