<h3>Create a kitten to see Sticky Writer in action</h3>

<form action="/kittens" method="POST">
  <label>Name</label>
  <input name="kitten[name]" required/>

  <br/>

  <input name="submit" type="submit" value="Create a Kitten" />
</form>
