<div style="background: #d5d500; padding: 3px;">
  Querying <strong><%= @target_db_server == :default ? "master" : "replica" %></strong>
</div>

<h1>Product: <%= @product.title %></h1>
<p>Price: <%= @product.price %></p>
